{% extends "layout.html" %}
{% block body %}
<br/>
<br/>
<br/>
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <h1>404 Error</h1>
        <h2>Oh Well! Page Not Found&hellip;</h2>
      </div>
      <form action='/' method='GET'>
              <!-<img src="./images/404.png" alt="" />
      <p>The Page You Requested Could Not Be Found On Our Server</p>
      <div id="respond">
        <button>Go Back</button>
      </div>
      </form>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock %}