{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Artikel Generator</h1>
  <p>Artikel Generator membantu artikelmu bebas dari plagiat.</p> 
</div>
 <form action="/article-generator" method="POST">
	<div class="form-group">
 	<label for="comment">Artikel:</label>
  	<textarea name='artikel1' class="form-control" rows="12" id="comment"></textarea>
	</div>
	<div class="col-md-12 text-center"> 
  	<button id="findSentiment" value="Analyze" class="btn btn-success btn-lg"><i class="fa fa-bar-chart "></i> Analisis</button> 
	</div>
 </form>
<br>
<p>{{outPut}}</p>
<br>
<br>
<br>
 
{% endblock %}