{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Seo Dasar</h1>
  <p>Seo Dasar akan membantu websitemu untuk menganalisis tag seo-mu!</p> 
</div>
<form action="/basicseo" method='POST'>
  <div class="row form-group">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<input name='myUrl' type="text" placeholder="Masukkan situs untuk dianalisis.." id="givenText" class="form-control input-lg">
	</div>
	<div class="col-sm-2"></div>
  </div>
<div class="col-md-12 text-center"> 
  <button id="findSentiment" value="Analyze" class="btn btn-success btn-lg"><i class="fa fa-bar-chart "></i> Analisis</button> 
</div>
</form>
<ul>
	{% for x in jmlh %}
	<li>{{x}}</li>
	{% endfor %}
</ul>
<br>
<br>
<br>
<br>
 
{% endblock %}
