{% extends "layout.html" %}
{% block body %}
	      	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">SEO Kita</h1>
        <h5><i>"SEO Kita akan membantumu memperbesar peluang keberhasilan dalam industri marketing online."</i></h5>
        <br>
        <p><a class="btn btn-primary btn-lg" href="/nnnn" role="button">Sign Up</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>SEO Dasar</h2>
          <p>SEO Dasar akan membantumu memaksimalkan SEO on-page dalam websitemu.</p>
          <p><a class="btn btn-secondary" href="/basicseo" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Analisa Teks</h2>
          <p>Dengan Analisa Teks, artikel dalam website akan lebih maksimal. Lebih memungkinkan terindeks Google dengan lebih baik.</p>
          <p><a class="btn btn-secondary" href="/textanalyzer" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Cek Sitemap</h2>
          <p>Dengan mengetahui sitemap dari sebuah website, akan memberikan ide marketing online yang lebih baik.</p>
          <p><a class="btn btn-secondary" href="/sitemaptest" role="button">View details &raquo;</a></p>
        </div>
        <br/>
        <div class="col-md-4">
          <h2>Artikel Generator</h2>
          <p>Dengan mengetahui sitemap dari sebuah website, akan memberikan ide marketing online yang lebih baik.</p>
          <p><a class="btn btn-secondary" href="/article-generator" role="button">View details &raquo;</a></p>
        </div>
        <br/>
        <div class="col-md-4">
          <h2>Your next project...</h2>
          <p>.....</p>
          <p><a class="btn btn-secondary" href="/todoimages" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
