{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Seo Kita</h1>
  <p>Seo Kita adalah website yang membantumu untuk melihat seo-mu!</p> 
</div>
<br>
<br>
<br>
<br>
 
{% endblock %}