<html>
<head>
  <title>Python Sentiment Analysis | Using TextBlob and Vader Sentiment</title>
  <meta charset="UTF-8">
  <meta name="description" content="Simple tool to find sentiment analysis in Python using TextBlob and Vader Sentiment.">
  <meta name="keywords" content="Python, Python Sentiment Analysis, Vader Sentiment, TextBlob">
  <meta name="author" content="Jatindra Suthar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cyborg/bootstrap.min.css">
</head>
<body>
	<div class="container">
	 <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tentang">Tentang</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kontak">Kontak</a>
            </li>
          </ul>
        </nav>
        <h1 class="text-muted">Seo Kita</h1>
      </header>
		{% block body %}{% endblock %}
	</div>

      <hr>

	<footer class="container">
      <p>&copy; Vinsmoke Company 2018</p>
    </footer>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>