{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Cek Sitemap</h1>
  <p>Cek Sitemap akan membantu untuk menganalisis sitemap pada websitemu!</p> 
</div>
<form action='/sitemaptest' method='POST'>
  <div class="row form-group">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<input name='map' type="text" placeholder="Masukkan situs untuk dianalisis.." id="givenText" class="form-control input-lg">
	</div>
	<div class="col-sm-2"></div>
  </div>
<div class="col-md-12 text-center"> 
  <button id="findSentiment" value="Analyze" class="btn btn-success btn-lg"><i class="fa fa-bar-chart "></i> Analisis</button> 
</div>
</form>
<ul>
	{% for x in hasilNya %}
	<p>{{x}}</p>
	{% endfor %}
</ul>
<div>
	<a href="/return-file" target="blank"><button class="btn btn-default">Download</button></a>
</div>
<br>
<br>
<br>
<br>
 
{% endblock %}