{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Analisa Teks</h1>
  <p>Analisa Teks akan membantu websitemu untuk menganalisis tag seo-mu!</p> 
</div>

 <form action="/textanalyzer" method="POST">
 	<div class="form-group">
  	<label for="usr">Judul:</label>
  	<input name='judul' type="text" class="form-control" id="usr">
	</div>
	<div class="form-group">
  	<label for="pwd">Keyword:</label>
  	<input name='keyword' type="text" class="form-control" id="pwd">
	</div>
	<div class="form-group">
 	<label for="comment">Artikel:</label>
  	<textarea name='artikel' class="form-control" rows="12" id="comment"></textarea>
	</div>
	<div class="col-md-12 text-center"> 
  <button id="findSentiment" value="Analyze" class="btn btn-success btn-lg"><i class="fa fa-bar-chart "></i> Analisis</button> 
</div>
 </form>
 <h4>Hasil: </h4>
 <ul>
	{% for x in semua %}
	<li>{{x}}</li>
	{% endfor %}
</ul>
<br>
<br>
<br>
<br>
{% endblock %}